<!DOCTYPE html>
<html lang=en>
<head>
	<meta charset="UTF-8">
	<title>Univerity Catalog</title>
</title="University>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netden.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body   {padding-top80px;}
	</style>
</head>
<body>
<a href="/logout" class="btn btn-default btn sm">Logout</a>
<h1>Courses</h1>
<table>
	<thead>
		<td>Course Number</td>
		<td>Course Name</td>
		<td>Course Professor</td>
		<td>Course Description</td>
		<td>Course Time</td>
		<td>Course Date</td>
		<td>Delete Course?</td>
		<td>Add Course</td>
	</thead>
	<tbody class="courses">
		
		<% for(var i = 0; i < courses.length; i++) { %>
			<tr>
				<td><span><%= courses[i].courseNumber %></span></td>
				<td><span><%= courses[i].courseName %></span></td>
				<td><span><%= courses[i].courseProfessor %></span></td>
				<td><span><%= courses[i].courseDescription %></span></td>
				<td><span><%= courses[i].courseTime %></span></td>
				<td><span><%= courses[i].courseDate %></span></td>
				<td><span><a href='/destroy/<%= courses[i].courseNumber %>'>Delete Course</a></span></td>
				<td><span><a href='/addCourse/<%= courses[i].courseNumber %>'>Add to Schedule</a></span></td>
			</tr>
		<% } %>
	</tbody>
</table>
<a href="/addCatalogCourse"> Go Back To Add Course</a> 
</body>
</html>

