<!DOCTYPE html>
<html lang=en>
<head>
	<meta charset="UTF-8">
	<title>Univerity Catalog</title>
</title="University>
</head>
<body>
<a href="/logout" class="btn btn-default btn sm">Logout</a>
	<h1>Detail Schedule</h1>
	<table>
	<thead>
		<td>Course Number</td>
		<td>Course Name</td>
		<td>Course Professor</td>
		<td>Course Description</td>
		<td>Course Time</td>
		<td>Course Date</td>
		<td>Drop course?</td>
	</thead>
	<tbody class="courses">
	<% for(var s = 0; s< schedule.length; s++) { %>
		<% if( schedule[s].email == email) { %>
			<% for(var c = 0 ; c < courses.length ; c++) { %>
				<% if(schedule[s].lineItem == courses[c].courseNumber) { %>
					<tr>
						<td><span><%= courses[c].courseNumber %></span></td>
						<td><span><%= courses[c].courseName %></span></td>
						<td><span><%= courses[c].courseProfessor %></span></td>
						<td><span><%= courses[c].courseDescription %></span></td>
						<td><span><%= courses[c].courseTime %></span></td>
						<td><span><%= courses[c].courseDate %></span></td>
						<td><a href="/dropCourse/<%=courses[c].courseNumber%>"> Drop</a></td>
					</tr>
				<% } %>
			<%}%>
		<%}%>
	<% } %>
	</tbody>
	
</table>
<a href="/Courses"> Go Back To Courses</a> 
</body>